    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        
    }

    a {
        text-decoration: none;
    }

    .back_img {
        background-image: url(/img/bg_img.webp);
        background-size: cover;
    }  

    .container-fluid {
        width: 100%;
        overflow: hidden;
    }

    .row {
        width: 100%;
        overflow: hidden;
    }

    .p-0 {
        padding: 0px !important;
    }

    .ptb-100 {
        padding: 50px ! important;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        float: left;
        overflow: hidden;
        padding: 0px 15px;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 24.99%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 49.99%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 74.99%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.69%;
    }

    .col-12 {
        width: 100%;
    }

    .abcd {
        display: flex;
        justify-content: flex-end;
    }

    .container {
        width: 1400px;
        box-sizing: border-box;
        overflow: hidden;
        margin: auto;
    }

    .logo {
        padding-top: 13px;
    }

    .menu ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .menu li {
        line-height: 73px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .menu a {
        color: #000;
        padding: 16px;
    }

    .menu a:hover {
        color: #20c997;
    }

    .border ul {
        justify-content: end;
    }

    .border li {
        border: 1px solid #e4e4e4;
    }

    .icon {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        margin-top: 18px;
    }

    .clint_photo {
        background-image: url(/img/slider_1.jpg);
        height: 700px;
        background-size: cover;
    }

    h1 {
        font-size: 100px;
        font-weight: 500;
        text-align: center;
        margin: 0%;
    }

    .small_font {
        font-size: 40px;
        text-align: center;
    }

    .fonts {
        margin-top: 100px;
        justify-content: flex-end;
        text-align: center;
    }

    .shop_btn {
        font-size: 30px;
        height: 60px;
        width: 200px;
        color: #20c997;
        cursor: pointer;
        margin-top: 20px;
        border: none;
    }

    .shop_btn:hover {
        background-color: black;
        color: aliceblue;
        transition: 1s;
    }

    .icon_1,
    .icon_2,
    .icon_3 {
        font-size: 30px;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(230, 230, 230);
        border-radius: 5px;
    }

    .pl-r {
        padding: 50px 150px 50px 150px !important;
    }

    .pt {
        padding: 10px 0px 0px 0px !important;
    }

    .pr {
        padding-right: 10px !important;
    }

    .pl {
        padding-left: 10px !important;
    }

    .icon_text {
        font-size: 25px;
    }

    .p2tage {
        font-size: 20px;
    }

    .photos {
        margin-top: 75px;
    }

    .ph_1 {
        width: 100%;
    }

    .ph_3 {
        height: 770px;
    }

    .imges {
        margin-top: 40px;
    }

    .new_colection_section {
        margin-top: 50px;
    }

    .big_font {
        font-size: 30px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .icon_arow {
        margin-top: 35px;
        font-size: 30px;
    }

    .fuatured ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    .text_1 {
        font-size: 10px;
        text-align: center;
    }

    .new_colection_section {
        box-sizing: border-box;
        display: flex;
    }

    .icon_arow:hover {
        color: #20c997;
        cursor: pointer;
    }

    .line_white {
        border-bottom: 3px solid rgb(162, 162, 162);
        list-style: none;
    }

    .black_line {
        border-bottom: 4px solid rgb(0, 0, 0);
        border-radius: 5px;
        list-style: none;
    }

    .ph_5 {
        width: 100%;
        margin-top: 80px;
        position: relative;
    }
  

    .sale_labal {
        position: absolute;
        background-color: red;
        padding: 5px;
        color: #f3f3f3;
        font-weight: 600;
        margin-left: -300px;
        margin-top: 92px;
        transform: rotate(90deg);
    }

    .ph_6 {
        width: 100%;
        margin-top: 10px;
        position: relative;
    }
    .sale_labal_2 {
        position: absolute;
        background-color: red;
        padding: 5px;
        color: #f3f3f3;
        font-weight: 600;
        margin-left: -300px;
        margin-top: 23px;
        transform: rotate(90deg);
    }

    .abc {
        box-sizing: border-box;
        cursor: pointer;
    }

    .efg {
        margin-top: 50px;
    }

    .price_section {
        text-align: center;
        margin-top: 30px;
    }

    .star_white {
        color: #8a8a8a;
    }

    .name_photo {
        margin: auto;
        width: 150px;
    }

    .name_photo:hover {
        color: #20c997;
    }

    .old_price {
        color: #8a8a8a;
    }

    .price_section h3 {
        margin-top: 5px;
    }

    .topi {
        height: 300px;
        width: 450px;
    }

    .black_row {
        background-image: url(/img/bg_static1.webp);
        height: auto;
        width: 100%;
        background-color: black;
        margin-top: 50px;
        background-size: cover;
        box-sizing: border-box;
        padding: 100px 0px;
    }

    .price_btn {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        width: 120px;
        outline: none;
        background-color: rgba(28, 205, 202, 0.8);
        padding: 3px;
        text-align: center;
        float: left;
        margin-top: 25px;
        margin-left: 20px;
        color: white;
        background-size: cover;
    }

    .text_sec {
        margin-top: 100px;
        margin-left: 40px;
    }

    .h2tage {
        color: #7e7d7d;
        float: left;
        margin-top: 30px;
        line-height: 30px;
    }

    .h5tage {
        font-weight: 100;
        width: 450px;
        margin-top: 30px;
        color: #a0a0a0;
    }

    .h3tage {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .nav_tabs ul {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 30px;
        line-height: 30px;
        padding: 20px;
    }

    .nav_tabs a {
        font-size: 20px;
        padding: 10px;
        background-color: #dee2e6;
        color: #000;
    }

    .round_photo {
        width: 152px !important;
        border-radius: 50%;
        display: inline-block !important;
    }

    .ptage {
        margin-top: 10px;
        color: #b0b4b8;
    }

    .sml_btn {
        height: 5px;
        background-color: #424242;
        width: 20px;
        border: none;
        border: 0.5px solid black;
        cursor: pointer;
        margin: 5px;
        margin-top: 30px;
    }

    .single_customar {
        text-align: center;
        margin-top: 100px;
        background: transparent;
    }

    .info_customer {
        text-align: center;
        margin-top: 10px;
    }

    .logos {
        margin-top: 80px;
        display: block;
    }

    .logo_sec {
        display: flex;
        justify-content: center;
        gap: 100px;
        height: 120px;
        background-color: #f3f3f3;
        box-sizing: border-box;
        padding: 20px;
    }

    .foote_area {
        box-sizing: border-box;
        padding: 50px 0px;
    }

    .footer_wid_menu ul {
        list-style: none;
    }

    .footer_wid_menu a {
        color: rgb(166, 162, 162);
        font-size: 15px;
        list-style: none;
    }

    .footer_wid_menu a:hover {
        color: #20c997;
    }

    .img_post {
        width: 100%;
        margin-top: 10px;
    }

    .pos_title {
        font-weight: 100;
        margin-top: 15px;
    }

    .post-excerpt {
        font-weight: 100;
        font-size: 15px;
        margin-top: 10px;
    }

    .read_section {
        float: right;
        color: black;
    }

    .opening_sec li {
        color: rgb(166, 162, 162);
        font-size: 15px;
    }

    .footer_middle_name {
        font-size: 20px;
    }

    .footer_middle__input_name {
        height: 30px;
        width: 300px;
        margin-left: 15px;
        outline: none;
        border: 2px solid black;
    }

    .aaa {
        padding: 30px 0px 10px 0px;
        border: 1px solid rgb(230, 228, 228);
    }

    .logo_section {
        float: right;
        line-height: 43px;
    }

    .footer_last {
        font-size: 18px;
        font-weight: 200;
    }

    .icons ul {
        display: flex;
        justify-content: flex-end;
        margin-top: 25px;
        list-style: none;
    }

    .sub_btn {
        background-color: #000;
        color: #f3f3f3;
        padding: 6px;
        margin: 0px;
    }

    .icons i {
        margin-left: 12px;
        color: #8a8a8a;
    }

    .icons i:hover {
        color: #20c997;
    }

    .copyright-info i {
        margin-left: 0px;
    }

    .copyright-info {
        float: right;
        margin-top: 20px;
    }

    .copyright-info a {
        color: #000;
    }